@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    margin: 0px
}

header {
    padding: 2rem;
    border-bottom: 5px solid;
    color: rgb(177, 40, 40);
    background-image: url("imagens/feature_image_2.webp");
    opacity: 0.8;
    
} 

h1 {
    font-size: clamp(40px, 4rem, 105px) ;
    color: rgb(177, 40, 40);
    font-family: "imperial script", cursive;
    font-weight: 550;
    font-style: normal;
}

h2 {
    font-size: clamp(1rem, 2rem, 5rem);
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgb(165, 139, 110);
    font-family: "sansation";
}

p {
    font-size: clamp(1rem, 1.5rem, 3rem);
    padding-left: 2rem;
    font-family: "sansation" ;
    color: rgb(143, 113, 78);
}

h3 {
    padding-left: 2rem;
    padding-top: 4rem;
    text-align: center;
    font-size: clamp(5rem, 7rem, 10rem);
    font-family: "imperial script";
    font-weight: 570;
    color: rgb(177, 40, 40);
}


main{
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

img#imagem1 {
    border: 2px solid;
    margin-left: 3rem;
    margin-right: 1rem;
    width: 9rem;
    height: 10rem;
    border-radius: 10px;
}

img#imagem2 {
    border: 2px solid;
    min-width: 9rem;
    height: 10rem;
    border-radius: 10px;
}

img#imagem3 {
    border: 2px solid;
    margin-left: 1rem;
    width: 9rem;
    height: 10rem;
    border-radius: 10px;
    
}